.hero-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.title {
  max-width: 685px;
  margin: 254px 0 180px;
}

.photo-1 {
  position: absolute;
  right: -5%;
  top: -15%;
  z-index: -1;
}

.order-btn {
  margin-bottom: 51px;
}
