.button {
  width: 15.55vw;
  height: 2.9vw;
  color: #fff;
  background: var(--black);
  border: 0.2vw solid var(--black);
  border-radius: 2.60416vw;
  font-size: 0.83vw;
  transition: 0.2s;
}

.button:hover,
.button:focus {
  transform: scale(1.05);
}

.button:active {
  opacity: 0.8;
}

.article-button,
.customer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.08vw;
}

.article-button{
  margin-top: 1.197vw;
  width: 100%;
}

.btn-arrow {
  height: 30%;
  aspect-ratio: 1/1;
}

@media (max-width: 650px) {
  .button{
    width: 249px;
    height: 46px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 30px;
  }
  .article-button,
  .customer-button{
    width: 100%;
    padding: 0 20px;
  }
  .article-button{
    margin-top: 20px;
  }
}
