:root {
  --hue: 120;
  --green: hsl(var(--hue), 100%, 95%);
  --black: hsl(0, 0%, 0%);
}

@font-face {
  font-family: "e-Ukraine-Head-Logo";
  src: url(./materials/fonts/e-Ukraine-Head/e-UkraineHead-LOGO.otf);
}
@font-face {
  font-family: "e-Ukraine-Head";
  src: url(./materials/fonts/e-Ukraine-Head/e-UkraineHead-Regular.otf);
}
@font-face {
  font-family: "e-Ukraine";
  src: url(./materials/fonts/e-Ukraine/e-Ukraine-Regular.otf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "e-Ukraine-Regular";
  color: var(--primary-black);
  box-sizing: border-box;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
textarea {
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "e-Ukraine", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  max-width: calc(1340px + 2.6vw * 2);
  padding: 0 2.6vw;
}

.bordered {
  border-radius: 2.08vw;
  border: 0.2vw solid #000;
  background: #fff;
}

.linked {
  position: relative;
}
.linked::before {
  content: "";
  position: absolute;
  bottom: -0.15625vw;
  left: 50%;
  width: 0;
  height: 0.1vw;
  background: #222;
  transform: translateX(-50%);
  transition: 0.2s;
}
.linked:hover::before {
  width: 100%;
}

.footer-link.linked::before {
  background: #fff;
}

.title {
  font-family: "e-Ukraine-Head";
  font-size: 2.916vw;
  line-height: 3.125vw;
}

.sec-title {
  font-family: "e-Ukraine-Head";
  font-size: 1.979vw;
  line-height: 2.08vw; /* 105.263% */
}

.subtitle {
  font-size: 1.458vw;
  line-height: 1.666vw; /* 114.286% */
}

.logo {
  font-family: "e-Ukraine-Head-Logo";
  font-size: 1.25vw;
  line-height: 0.833vw;
}

.text-b {
  font-size: 1.041vw;
  line-height: 1.302vw; /* 125% */
}

.text-m {
  font-size: 0.9375vw;
  line-height: 1.458vw; /* 155.556% */
}

.text {
  font-size: 0.833vw;
  line-height: 1.25vw; /* 150% */
}

.text-s {
  color: #fff;
  font-size: 0.625vw;
  line-height: 0.833vw; /* 133.333% */
}

.naming {
  font-size: 1.25vw;
  line-height: 1.458vw; /* 116.667% */
}

.customer-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5;
  font-size: 0.9375vw;
  line-height: 1.25vw; /* 133.333% */
}

body {
  position: relative;
  padding-bottom: 17.96875vw;
  background: url(./materials/background/back-1.svg) no-repeat 20% -5%;
}

* {
  scroll-behavior: smooth;
}

@media (max-width: 650px) {
  .linked::before {
    width: 100%;
    height: 2px;
  }
  nav .linked::before {
    width: 0 !important;
  }
  .logo {
    font-size: 16px;
    line-height: 24px;
  }
  .bordered {
    border: 2px solid #000;
    border-radius: 30px;
  }
  .title {
    font-size: 26px;
    text-align: center;
    width: 295px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 28px;
    max-width: unset;
  }
  .sec-title {
    font-size: 20px;
    line-height: 24px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .text-b {
    font-size: 14px;
    line-height: 20px;
  }
  .text {
    font-size: 13px;
    line-height: 18px;
  }
  .text-s {
    font-size: 12px;
    line-height: 16px;
  }
  .naming {
    font-size: 16px;
    line-height: 24px;
  }
  .customer-text {
    font-size: 13px;
    line-height: 18px;
  }
  body {
    padding-bottom: 430px;
  }
}
